* {
  color: #1e3565;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background: #eeeeee;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 95vh;
}

header {
  margin-top: 15px;
  flex: 0;
  align-self: center;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}

button {
  border: none;
  font-size: 24px;
  padding: 6px;
}

button:hover {
  cursor: pointer;
}

button.selected {
  border-bottom: 1px solid #1e3565;
}

div#content {
  padding-top: 20px;
  flex: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

img {
  width: 40%;
  border-radius: 200px;
  box-shadow: 0 0 6px 6px #c3b8a8;
  position: relative;
  margin: 20px;
}

div.info {
  margin: 30px;
}

div.info>div {
  padding: 8px;
  font-weight: bold;
  text-align: center;

}

h2 {
  padding: 10px 10px 10px 15px;
  margin: 5px;
}

li {
  list-style: none;
  margin: 15px;
  padding: 10px;
}

.pricing {
  margin-top: 50px;
}

p {
  width: 50%;
}

h3 {
  padding-top: 15px;
}

footer {
  flex: 0;
  border-top: 1px solid slategrey;
  padding-top: 5px;
  padding-bottom: env(safe-area-inset-bottom);
}